body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.box {
  animation: circle 3s infinite;
  background: orange;
  clip-path: circle(75%);
  height: 200px;
  width: 200px;
}

@keyframes circle {
  0% { clip-path: circle(75%); }
  50% { clip-path: circle(25%); }
  100% { clip-path: circle(75%); }
}
