body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.box {
  animation: diamond 3s infinite;
  background: blue;
  clip-path: diamond(75%);
  height: 200px;
  width: 200px;
}

@keyframes diamond {
  0% { clip-path: diamond(75%); }
  50% { clip-path: diamond(25%); }
  100% { clip-path: diamond(75%); }
}
